body {
  font-family: roboto;
  width: 100%;
  /*background-image: url("../assets/images/dna_wallpaper.jpg");*/
  background-size: cover;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.app-title {
  font-size: 35px;
  margin-bottom: 15px;
}

.search-button {
  margin-bottom: 20px;
  z-index: 2;
}

.visualization {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #999;
}

.data {
  height: 400px;
  width: 400px;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 240px;
  height: 240px;
  margin: 77px;
  background-color: #ddd;
  border: 3px solid #00c45b;
  border-radius: 50%;
  position: absolute;
}

.feature {
  color: blue;
  height: 400px;
  width: 400px;
  position: absolute;
  transition-duration: 2s;
  -webkit-transition-duration: 2s;
}

.feature-label {
  font-size: 12px;
  transition-duration: 2s;
  -webkit-transition-duration: 2s;
}

.plasmid-label {
  height: 100%;
  width: 100px;
  margin: 9px 150px;
  position: absolute;
  z-index: 3;
}

.plasmid-name {
  margin-top: 95px;
}
