body {
  font-family: roboto;
  width: 100%;
  /*background-image: url("../assets/images/dna_wallpaper.jpg");*/
  background-size: cover;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 5%;
}

.App-title {
  font-size: 35px;
  margin-bottom: 15px;
}

.search-button {

}

.data {
  display: flex;
  flex-direction: column;
}

.circle {
  width: 200px;
  height: 200px;
  background-color: #ddd;
  border: 3px solid #00c45b;
  border-radius: 50%;
  position: relative;
  align-self: center;
  margin: 20px;
}
